<section class="about-wrap">
	<h3 id="aboutme">About Sanjeet</h3>

	<div class="face-front">
		<div class="face-img"></div>

		<div class="icon-css"> {% include icons/icon-css.html %} </div>
		<div class="icon-file"> {% include icons/icon-file.html %}</div>
		<div class="icon-xml"> {% include icons/icon-mail.html %} </div>
		<div class="icon-mail"> {% include icons/icon-xml.html %} </div>
	</div>
	
	<div class="blurb">
		<p>
			{{ site.data.portfolio.blurb }}
		</p>
	</div>



	<div class="skill-front">
		{% for item in site.data.portfolio.skills %}
			<div class="skill-unit">
				<div class="skill-label">{{ item.name }}</div>
				<div class="skill-icons {{ item.level }}">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		{% endfor %}
	</div>
</section>