<section class="about-wrap">
	<h3>About Sanjeet</h3>

	<div class="face-front">
		<div class="face-img"></div>

		<div class="icon-css"> {% include icons/icon-css.html %} </div>
		<div class="icon-file"> {% include icons/icon-file.html %}</div>
		<div class="icon-xml"> {% include icons/icon-mail.html %} </div>
		<div class="icon-mail"> {% include icons/icon-xml.html %} </div>
	</div>
	
	<div class="blurb">
		<p>
			<strong>Lorem ipsum dolor sit</strong> amet, consectetur adipisicing elit. Iste recusandae numquam atque pariatur deserunt. Rem beatae omnis, illum reprehenderit debitis blanditiis distinctio cum sunt officia tenetur accusantium magnam non porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore repellendus esse assumenda obcaecati ad cupiditate sequi laudantium repellat quam beatae earum molestiae voluptas architecto, voluptatem impedit quasi totam, doloribus corporis.
		</p>
	</div>



	<div class="skill-front">
		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div class="skill-unit">
			<div class="skill-label">Organization</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div class="skill-unit">
			<div class="skill-label">Learning</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div class="skill-unit">
			<div class="skill-label">Teaching</div>
			<div class="skill-icons skill-5">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div class="skill-unit">
			<div class="skill-label">Programming</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

		<div class="skill-unit">
			<div class="skill-label">Planning</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>

		</div>

	</div>
</section>