<section class="alt-section section-contact">
	<h3 id="contact">Contact</h3>

	<div class="social-link">
		{% for social in site.data.portfolio.social %}
		<a href="{{ social.link }}"><i class="{{social.icon}}" aria-hidden="true"></i>
</a>
		{% endfor %}
		<a class="mobile" href="tel:{{ site.data.portfolio.tele }}"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
	</div>

	<hr class="bar"/>

	<a href="mailto:{{ site.data.portfolio.email }}" class="biglink">{{ site.data.portfolio.email }}</a>

</section>
