<section class="alt-section section-work">
	<h3 id="work">Portfolio</h3>

	<div class="work-belt">
		<div class="thumb-container">
			<div class="thumb-wrapper">
				{% for work in site.data.portfolio.works %}
				<div class="thumb-unit" data-folder="{{ work.folder }}" style="background: #{{work.bg-color}}; background-image: url(/assets/img/work/{{ work.folder }}/thumb.png); background-repeat: no-repeat; background-position: center;">
					<div class="thumb-overlay">
						<strong>{{ work.name }}</strong>
						<div class="zoom-icon"></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="work-container">
			<div class="work-wrapper">
				<div class="work-return">{% include icons/icon-back.html %}</div>
				<h4 class="project-title"></h4>
				<div class="project-load"></div>
				<div class="work-return-bottom"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i><span> back</span></div>
			</div>
		</div>

	</div>

</section>
