<section class="alt-section section-work">
	<h3 id="work">Work</h3>
	
	<div class="work-belt">
		<div class="thumb-container">
			<div class="thumb-wrapper">
				{% for work in site.data.portfolio.works %}
				<div class="thumb-unit" data-folder="{{ work.folder }}" style=" background-image: url(/assets/img/work/{{ work.folder }}/thumb.png);">
					<div class="thumb-overlay">
						<strong>{{ work.name }}</strong>
						<div class="zoom-icon"></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="work-container">
			<div class="work-wrapper">
				<div class="work-return">{% include icons/icon-back.html %}</div>
				<h4 class="project-title"></h4>
				<div class="project-load">
					
				</div>
			</div>
		</div>

	</div>

</section>