$primary-color: #F6C
$text-color: #2E2D33
$accent-color1:#d35400
$accent-color: #BD5248
$accent-light: #CA746C
$bg-color: rgba(196,196,196,0.99)
$link-color: rgba(0,0,0,0.6)
$selection-color: #FFF498
$white: #ffffff
$black: #000000
$work-section-bg: #f6f6f6


$header-bg: rgba(196,196,196,0.8)
$hover-underline: $accent-color
