<svg width="40" height="40" xmlns="http://www.w3.org/2000/svg">
 <g>
  <circle id="svg_4" r="15.7604" cy="20" cx="20" stroke-linecap="null" stroke-linejoin="null" stroke-width="2" stroke="#000000" fill="none"/>
  <text transform="matrix(0.9155150589565867,0,0,1.5494626760482788,3.04151269446408,-2.2977379268687628) " xml:space="preserve" text-anchor="middle" font-family="Serif" font-size="24" id="svg_5" y="20.51745" x="16.55151" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#000000">&lt;</text>
 </g>
</svg>